body{
    margin-top:20px;
    background: #f8f8f8;
}

.todo-nav {
    margin-top: 10px
}

.todo-list {
    margin: 10px 0
}

.todo-item {
    padding: 15px;
    margin: 5px 0;
    border-radius: 0;
    background: #f7f7f7
}

.todo-item-edit, .item-date {
    float: right;
}

.todo-item-footer {
    margin-top: 5px;
    font-size: 13px;
    color: #6C7588;
}

.checker, .checker span, .checker input {
    width: 19px;
    height: 19px;
}

.checker {
    margin: 0;
    padding: 0;
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
}

.container {
    width:800px;
}

.card {
    padding: 25px;
    margin-bottom: 20px;
    border: initial;
    background: #fff;
    border-radius: calc(.15rem - 1px);
    box-shadow: 0 1px 15px rgba(0,0,0,0.04), 0 1px 6px rgba(0,0,0,0.04);
}
